<% if @relationship_list.present? %>
  <% if @relationship_list.errors.any? %>
    <% @relationship_list.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new relationship list
</h1>


<hr>

<form action="/create_relationship_list" method="post">

  <div class="form-group">
    <label for="connection_id">
      Connection
    </label>

    <%= select_tag(:connection_id, options_from_collection_for_select(Connection.all, :id, :name, @relationship_list.connection_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="mother_id">
      Mother
    </label>

    <input type="text" id="mother_id" name="mother_id" class="form-control" value="<%= @relationship_list.mother_id %>">
  </div>

  <div class="form-group">
    <label for="father_id">
      Father
    </label>

    <input type="text" id="father_id" name="father_id" class="form-control" value="<%= @relationship_list.father_id %>">
  </div>

  <div class="form-group">
    <label for="child1_id">
      Child1
    </label>

    <input type="text" id="child1_id" name="child1_id" class="form-control" value="<%= @relationship_list.child1_id %>">
  </div>

  <div class="form-group">
    <label for="child2_id">
      Child2
    </label>

    <input type="text" id="child2_id" name="child2_id" class="form-control" value="<%= @relationship_list.child2_id %>">
  </div>

  <div class="form-group">
    <label for="child3_id">
      Child3
    </label>

    <input type="text" id="child3_id" name="child3_id" class="form-control" value="<%= @relationship_list.child3_id %>">
  </div>

  <div class="form-group">
    <label for="child4_id">
      Child4
    </label>

    <input type="text" id="child4_id" name="child4_id" class="form-control" value="<%= @relationship_list.child4_id %>">
  </div>

  <div class="form-group">
    <label for="child5_id">
      Child5
    </label>

    <input type="text" id="child5_id" name="child5_id" class="form-control" value="<%= @relationship_list.child5_id %>">
  </div>

  <div class="form-group">
    <label for="step_mother_id">
      Step mother
    </label>

    <input type="text" id="step_mother_id" name="step_mother_id" class="form-control" value="<%= @relationship_list.step_mother_id %>">
  </div>

  <div class="form-group">
    <label for="step_father_id">
      Step father
    </label>

    <input type="text" id="step_father_id" name="step_father_id" class="form-control" value="<%= @relationship_list.step_father_id %>">
  </div>

  <div class="form-group">
    <label for="sibling1_id">
      Sibling1
    </label>

    <input type="text" id="sibling1_id" name="sibling1_id" class="form-control" value="<%= @relationship_list.sibling1_id %>">
  </div>

  <div class="form-group">
    <label for="sibling2_id">
      Sibling2
    </label>

    <input type="text" id="sibling2_id" name="sibling2_id" class="form-control" value="<%= @relationship_list.sibling2_id %>">
  </div>

  <div class="form-group">
    <label for="sibling3_id">
      Sibling3
    </label>

    <input type="text" id="sibling3_id" name="sibling3_id" class="form-control" value="<%= @relationship_list.sibling3_id %>">
  </div>

  <div class="form-group">
    <label for="sibling4_id">
      Sibling4
    </label>

    <input type="text" id="sibling4_id" name="sibling4_id" class="form-control" value="<%= @relationship_list.sibling4_id %>">
  </div>

  <div class="form-group">
    <label for="partner_id">
      Partner
    </label>

    <input type="text" id="partner_id" name="partner_id" class="form-control" value="<%= @relationship_list.partner_id %>">
  </div>

  <div class="form-group">
    <label for="husband_id">
      Husband
    </label>

    <input type="text" id="husband_id" name="husband_id" class="form-control" value="<%= @relationship_list.husband_id %>">
  </div>

  <div class="form-group">
    <label for="wife_id">
      Wife
    </label>

    <input type="text" id="wife_id" name="wife_id" class="form-control" value="<%= @relationship_list.wife_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create relationship list
  </button>
</form>

<hr>

<a href="/relationship_lists">
  Go back
</a>
