<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Relationship list #<%= @relationship_list.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/relationship_lists" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/relationship_lists/<%= @relationship_list.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit relationship list
        </a>
      </div>

      <div class="col">
        <a href="/delete_relationship_list/<%= @relationship_list.id %>" class="btn btn-block btn-outline-secondary">
          Delete relationship list
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Connection
      </dt>
      <dd>
        <% if @relationship_list.connection.present? %>
          <a href="/connections/<%= @relationship_list.connection_id %>">
            <%= @relationship_list.connection.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Mother
      </dt>
      <dd>
        <%= @relationship_list.mother_id %>
      </dd>

      <dt>
        Father
      </dt>
      <dd>
        <%= @relationship_list.father_id %>
      </dd>

      <dt>
        Child1
      </dt>
      <dd>
        <%= @relationship_list.child1_id %>
      </dd>

      <dt>
        Child2
      </dt>
      <dd>
        <%= @relationship_list.child2_id %>
      </dd>

      <dt>
        Child3
      </dt>
      <dd>
        <%= @relationship_list.child3_id %>
      </dd>

      <dt>
        Child4
      </dt>
      <dd>
        <%= @relationship_list.child4_id %>
      </dd>

      <dt>
        Child5
      </dt>
      <dd>
        <%= @relationship_list.child5_id %>
      </dd>

      <dt>
        Step mother
      </dt>
      <dd>
        <%= @relationship_list.step_mother_id %>
      </dd>

      <dt>
        Step father
      </dt>
      <dd>
        <%= @relationship_list.step_father_id %>
      </dd>

      <dt>
        Sibling1
      </dt>
      <dd>
        <%= @relationship_list.sibling1_id %>
      </dd>

      <dt>
        Sibling2
      </dt>
      <dd>
        <%= @relationship_list.sibling2_id %>
      </dd>

      <dt>
        Sibling3
      </dt>
      <dd>
        <%= @relationship_list.sibling3_id %>
      </dd>

      <dt>
        Sibling4
      </dt>
      <dd>
        <%= @relationship_list.sibling4_id %>
      </dd>

      <dt>
        Partner
      </dt>
      <dd>
        <%= @relationship_list.partner_id %>
      </dd>

      <dt>
        Husband
      </dt>
      <dd>
        <%= @relationship_list.husband_id %>
      </dd>

      <dt>
        Wife
      </dt>
      <dd>
        <%= @relationship_list.wife_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@relationship_list.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@relationship_list.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

