<% if @note.errors.any? %>
  <% @note.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit note #<%= @note.id %>
</h1>

<hr>

<form action="/update_note/<%= @note.id %>" method="post">

  <div class="form-group">
    <label for="body">
      Body
    </label>

    <textarea id="body" name="body" class="form-control" rows="3"><%= @note.body %></textarea>
  </div>


  <div class="form-group">
    <label for="connection_id">
      Connection
    </label>

    <%= select_tag(:connection_id, options_from_collection_for_select(Connection.all, :id, :name, @note.connection_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update note
  </button>
</form>

<hr>

<a href="/notes">
  Go back
</a>
