<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Note #<%= @note.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/notes" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @note.user %>
          <a href="/notes/<%= @note.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit note
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @note.user %>
          <a href="/delete_note/<%= @note.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete note
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Body
      </dt>
      <dd>
        <%= @note.body %>
      </dd>

      <dt>
        Commenter
      </dt>
      <dd>
        <% if @note.user.present? %>
          <a href="/users/<%= @note.commenter_id %>">
            <%= @note.user.username %>
          </a>
        <% end %>
      </dd>

      <dt>
        Connection
      </dt>
      <dd>
        <% if @note.connection.present? %>
          <a href="/connections/<%= @note.connection_id %>">
            <%= @note.connection.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@note.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@note.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

