<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All connections
    </h1>

    <a href="/connections/new" class="btn btn-block btn-outline-secondary">
      Add a new connection
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "connection_templates/connections_search_form" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <%= render partial: "connection_templates/all_photos_map" %>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Image
        </th>

        <th>
          Location
        </th>

        <th>
          Birthday
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @connections.each do |connection| %>
      <tr>
        <td>
          <%= connection.id %>
        </td>

        <td>
          <%= connection.name %>
        </td>

        <td>
          <img src='<%= connection.image %>' class='img-fluid'>
        </td>

        <td>
          <%= connection.location %>
        </td>

        <td>
          <%= connection.birthday %>
        </td>

        <td>
          <% if connection.user.present? %>
            <a href="/users/<%= connection.user.id %>">
              <%= connection.user.username %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(connection.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(connection.updated_at) %> ago
        </td>

        <td>
          <a href="/connections/<%= connection.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @connections, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
