<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All connections
    </h1>

    <a href="/connections/new" class="btn btn-block btn-outline-secondary">
      Add a new connection
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->
<div class="row mb-3">
  <div class="col-md-12">
    <%= render partial: "connection_templates/all_photos_map" %>
  </div>
</div>
<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Image
        </th>

        <th>
          Location
        </th>

        <th>
          Birthday
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @connections.each do |connection| %>
      <tr>
        <!-- Display connection.id start -->
        <td>
          <%= connection.id %>
        </td>
        <!-- Display connection.id end -->

        <!-- Display connection.name start -->
        <td>
          <%= connection.name %>
        </td>
        <!-- Display connection.name end -->

        <!-- Display connection.image start -->
        <td>
          <img src='<%= connection.image %>' class='img-fluid'>
        </td>
        <!-- Display connection.image end -->

        <!-- Display connection.location start -->
        <td>
          <%= connection.location %>
        </td>
        <!-- Display connection.location end -->

        <!-- Display connection.birthday start -->
        <td>
          <%= connection.birthday %>
        </td>
        <!-- Display connection.birthday end -->

        <!-- Display connection.user_id start -->
        <td>
          <%= connection.user.username %>
        </td>
        <!-- Display connection.user_id end -->

        <!-- Display connection.created_at start -->
        <td>
          <%= time_ago_in_words(connection.created_at) %> ago
        </td>
        <!-- Display connection.created_at end -->

        <!-- Display connection.updated_at start -->
        <td>
          <%= time_ago_in_words(connection.updated_at) %> ago
        </td>
        <!-- Display connection.updated_at end -->

        <td>
          <a href="/connections/<%= connection.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @connections, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
