<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Connection #<%= @connection.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/connections" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @connection.user %>
          <a href="/connections/<%= @connection.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit connection
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @connection.user %>
          <a href="/delete_connection/<%= @connection.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete connection
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @connection.name %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @connection.image %>" class="img-fluid">
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <div>
          <%= render partial: "connection_templates/one_photo_map" %>
        </div>
      </dd>

      <dt>
        Birthday
      </dt>
      <dd>
        <%= @connection.birthday %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @connection.user.present? %>
          <a href="/users/<%= @connection.user_id %>">
            <%= @connection.user.username %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@connection.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@connection.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "connection_templates/connection_notes" %>
  </div>
</div>
